section.slide
	h2.shout Сдвиг
section.slide
	h2 transform: translate
	p Задает сдвиг элемента относительно осей X и Y, и точки задаваемой свойством 
		mark transform-origin
		| .
	pre
		code transform: translate( value [, value ]? )
		code transform: translateX( value )
		code transform: translateY( value )
		code transform: translateZ( length )
		code transform: translate3d( value , value , length )
