section.slide
	h2.shout Перемещение

section.slide.white
	a(href="http://sokruta.com.ua/" target="blank")
		+insert-image('socruta.jpg', "socruta", "cover")

section.slide.black
	a(href="http://retailsolutions.ru/" target="blank")
		+insert-image('retailsolutions.jpg', "retailsolutions", "cover")

section.slide.black
	a(href="http://www.world-of-swiss.com/ru" target="blank")
		+insert-image('word-of-swiss.jpg', "word-of-swiss", "cover")

section.slide
	h2 transform: translate( value )
	p Задает сдвиг элемента относительно осей X, Y, Z и точки задаваемой свойством 
		mark transform-origin
		| .
	pre
		code .element {
			| 	transform: translate( value [, value ]? );
			| }

section.slide.centr-code
	pre
		code .element {
			| 	transform: translateX( value );
			| }


section.slide.centr-example
	.demo-mesh
		.demo-mesh_base-block
		.demo-mesh_transform-block.transltate-demo_translate-x translateX(100px)

section.slide.centr-code
	pre
		code .element {
			| 	transform: translateY( value );
			| }

section.slide.centr-example
	.demo-mesh
		.demo-mesh_base-block
		.demo-mesh_transform-block.transltate-demo_translate-y translateY(100px)

section.slide.centr-code
	pre
		code .element {
			| 	transform: translateZ( length );
			| }

section.slide.centr-example.transltate-demo_3d-wrap
	.demo-mesh
		.demo-mesh_base-block
		.demo-mesh_transform-block.transltate-demo_translate-z translateZ(100px)

section.slide.centr-code
	pre
		code .element {
			| 	transform: translate3d(value, value, length);
			| }

section.slide.centr-example.transltate-demo_3d-wrap
	.demo-mesh
		.demo-mesh_base-block
		.demo-mesh_transform-block.transltate-demo_translate3d translateX(50px)
			br
			| translateY(50px)
			br
			| translateZ(100px)


