section.slide
	h2.shout Перемещение
section.slide
	h2 transform: translate( value )
	p Задает сдвиг элемента относительно осей X и Y, и точки задаваемой свойством 
		mark transform-origin
		| .
	pre
		code .element {
			| 	transform: translate( value [, value ]? );
			| }

section.slide.centr-code
	pre
		code .element {
			| 	transform: translateX( value );
			| }
section.slide.centr-code
	pre
		code .element {
			| 	transform: translateY( value );
			| }

section.slide.centr-code
	pre
		code .element {
			| 	transform: translateZ( length );
			| }

section.slide.centr-code
	pre
		code .element {
			| 	transform: translate3d(value, value, length);
			| }


section.slide.white
	a(href="http://sokruta.com.ua/" target="blank")
		+insert-image('socruta.jpg', "socruta", "cover")

section.slide.black
	a(href="http://mahno.com.ua/uk" target="blank")
		+insert-image('mahno.jpg', "mahno", "cover")
