section.slide
	h2.shout Перемещение

section.slide.white
	a(href="http://zameckezahrady.cz/" target="blank")
		+insert-image('zameckezahrady.jpg', "zameckezahrady", "cover")

section.slide.black
	a(href="http://retailsolutions.ru/" target="blank")
		+insert-image('retailsolutions.jpg', "retailsolutions", "cover")

section.slide.black
	a(href="http://125jahre.bucherer.com/en/home.html" target="blank")
		+insert-image('jahre.bucherer.jpg', "jahre bucherer", "cover")

section.slide
	h2 transform: translate( value )
	p Задает сдвиг элемента относительно осей X, Y, Z и точки задаваемой свойством 
		mark transform-origin
		| .
	pre
		code .element {
			| 	transform: translate( 100px [, 50% ]? );
			| }

section.slide.centr-code
	pre
		code .element {
			| 	transform: translateX( 100px );
			| }


section.slide.centr-example
	.demo-mesh
		.demo-mesh_base-block
		.demo-mesh_transform-block.transltate-demo_translate-x translateX(100px)

section.slide.centr-code
	pre
		code .element {
			| 	transform: translateY( 100px );
			| }

section.slide.centr-example
	.demo-mesh
		.demo-mesh_base-block
		.demo-mesh_transform-block.transltate-demo_translate-y translateY(100px)

section.slide.centr-code
	pre
		code .element {
			| 	transform: translateZ( 100px );
			| }

section.slide.centr-example.transltate-demo_3d-wrap
	.demo-mesh
		.demo-mesh_base-block
		.demo-mesh_transform-block.transltate-demo_translate-z translateZ(100px)

section.slide.centr-code
	pre
		code .element {
			| 	transform: translate3d(0, 50px, 100px);
			| }

section.slide.centr-example.transltate-demo_3d-wrap
	.demo-mesh
		.demo-mesh_base-block
		.demo-mesh_transform-block.transltate-demo_translate3d translateX(50px)
			br
			| translateY(50px)
			br
			| translateZ(100px)


