section.slide.perspective-header
	h2.shout Перспектива 
		//- br 
		//- | Глубина сцены
	//- h2 Глубина сцены
	//- +insert-image("persia-prince-perspective.jpg", "persia-prince-perspective.jpg", "cover")

section.slide
	h2 Perspective
	p Задает глубину сцены.
	p Можно задать двумя способами:
	ul
		li perspective:
		li transform: perspective()

	+insert-image("perspective_distance.png", "perspective_distance.png", "place right")

section.slide
	h2 perspective:
	p Задает глубину сцены родителю
	pre
		code .wrapper {
		code 	perspective: none || length;
		code }
section.slide
	pre
		code .wrapper {
		code 	perspective: 200px;
		code }
		code .block1 {
		code 	width: 300px
		code 	transform: rotateY(55deg);
		code }



section.slide
	.demo-perspective.wrapper.demo-perspective-1
		.block-1 block 1



section.slide
	h2 transform: perspective()
	p 3адает глубину сцены конкретному елементу
	pre
		code .child {
		code 	transform: perspective(length);
		code }

section.slide
	pre
		code .wrapper {
		code 	perspective: none
		code }
		code .block1 {
		code 	transform: perspective(200px) rotateY(55deg);
		code }
		code .block2 {
		code 	transform: perspective(400px) rotateY(55deg);
		code }


section.slide
	.demo-perspective.wrapper.demo-perspective-2
		.block-1 block 1
		.block-2  block 2
