section.slide
	h2.shout Перспектива

section.slide
	h2 Perspective
	p Задает глубину сцены.
	p Можно задать двумя способами:
	ul
		li perspective:
		li transform: perspective()

	+insert-image("perspective_distance.png", "perspective_distance.png", "place right")
section.slide
	h2 perspective:
	p задает глубину сцены родителю
	pre
		code .wraper {
		code 	perspective: none || length;
		code }
section.slide
	h2 transform: perspective()
	p задает глубину сцены конкретному елементу
	pre
		code .child {
		code 	transform: perspective(length)
		code }
