section.slide.perspective-header
	h2.shout Перспектива

section.slide
	h2 Perspective
	p Задает глубину сцены.
	p Можно задать двумя способами:
	ul
		li perspective:
		li transform: perspective()

	+insert-image("perspective_distance.png", "perspective_distance.png", "place right")

section.slide
	h2 perspective: none | length;
	p Задает глубину сцены родителю
	pre
		code .wrapper {
			| 	perspective: 200px;
			| }

			| .block1 {
			| 	width: 300px
			| 	transform: rotateY(55deg);
			| }

//- 	pre
//- 		code.css .wrapper {
//- 			| 	perspective: none || length;
//- 			| }
//- section.slide


section.slide
	.demo-perspective.wrapper.demo-perspective-1
		.block-1 block 1



section.slide
	h2 transform: perspective( length )
	p 3адает глубину сцены конкретному елементу
	pre
		code .block1 {
			| 	transform: perspective(200px) rotateY(55deg);
			| }
			| .block2 {
			| 	transform: perspective(400px) rotateY(55deg);
			| }



section.slide
	.demo-perspective.wrapper.demo-perspective-2
		.block-1 block 1
		.block-2  block 2
