section.slide
	h2.shout А что сзади
section.slide
	h2 backface-visibility: 
	p Определяет будет ли видно контент элемента, который с помощью 3D трансформаций отвернут лицом от пользователя.
	pre
		code .element {
			| 	backface-visibility: [ visible | hidden ];
			| }
section.slide
	.demo-line
		pre
			code .element {
				| 	backface-visibility: visible;
				| }
		.demo-example
			.backface.backface-hidden
				.backface-back.backface-hidden


	.demo-line
		pre
			code .element {
				| 	backface-visibility: hidden;
				| }
		.demo-example
			.backface.backface-hidden
			