section.slide.transform-style-header
	h2.shout Включаем 3D

section.slide
	h2 transform-style:
	p Определяет как вложенные элементы будут отображаться в трехмерном пространстве.
	pre
		code .wrapper {
			| 	transform-style: flat | preserve-3d;
			| }

section.slide
	.demo-line.overflow-visible
		pre
			code .wrapper {
				| 	transform-style: flat;
				| }
		.transform-style-demo
			.parent
				.child-1 transform: translateZ(-100px) rotateY(45deg);
				.child-2 transform: translateZ(50px) rotateX(20deg);
	.demo-line.overflow-visible
		pre
			code .wrapper {
				| 	transform-style: preserve-3d;
				| }
		.transform-style-demo.preserve-3d
			.parent
				.child-1 transform: translateZ(-100px) rotateY(45deg);
				.child-2 transform: translateZ(50px) rotateX(20deg);

section.slide.white.link-slide
	h2.link-slide_header.half CSS 3D Cube
		br
		| Anna Selezniova
		br
		| @asktwi
	+insert-image("by-anna-selezniova.svg","by-anna-selezniova", "half")

	p
		a(href="http://goo.gl/2chulV" target="blank").link-slide_link http://goo.gl/2chulV