section.slide.attention-js-header
	h2.shout Attention JS (event)
//- section.slide
	//- p При слишком частом вызове события происходит большое количество перерисовок корорые тормозят работу страницы
	//- p Если трансформация привязана к событию которое срабатывает слишком часто это может затормозить страницу

section.slide.white
	iframe.cover-frame(src="https://oleksandrpavlyshch.github.io/3d_showcase_demo/", frameborder="0")
		
section.slide.white
	iframe.cover-frame(src="https://oleksandrpavlyshch.github.io/device_orientation_parallax_demo/", frameborder="0")

section.slide
	h2 requestAnimationFrame
	pre
		code var frameId;
			| function repeatOften() {
			| 	//magic
			| 	frameId = requestAnimationFrame(repeatOften);
			| }
			| cancelAnimationFrame(frameId);


section.slide
	h2 Event throttle
	pre
		code var lastMove = 0;
			| var myEventInterval = 40;//for example
			| element.addEventListener( "mousemove", function() {
			| 	if(Date.now() - lastMove > myEventInterval) {
			| 		eventHendler(event);
			| 		lastMove = Date.now();
			| 	}
			| });


