extends ./layout/default_layout.jade

block title_name
	title=title

block header
	include ../elements/header/header

block main_content

	include ../elements/intro/intro
	//- include ../elements/transform/transform
	include ../elements/skew/skew
	include ../elements/perspective/perspective
	include ../elements/perspective_origin/perspective_origin
	include ../elements/transform_origin/transform_origin
	include ../elements/transform_style/transform_style
	include ../elements/backface_visibility/backface_visibility
	include ../elements/translate/translate
	include ../elements/rotate/rotate
	include ../elements/scale/scale
	include ../elements/matrix/matrix
	include ../elements/will_change/will_change
	include ../elements/attention_js/attention_js
	include ../elements/contacts/contacts


	.progress
	p.badge
		a(href=git_hub_link) Fork me on GitHub




