extends ./layout/default_layout.jade

block title_name
	title=title

block header
	include ../elements/header/header

block main_content

	include ../elements/transform/transform
	include ../elements/transform_style/transform_style
	include ../elements/perspective/perspective
	include ../elements/perspective_origin/perspective_origin
	include ../elements/backface_visibility/backface_visibility
	include ../elements/translate/translate
	include ../elements/rotate/rotate
	include ../elements/scale/scale
	include ../elements/skew/skew


	.progress
	p.badge
		a(href=git_hub_link) Fork me on GitHub



