extends ./layout/default_layout.jade

block title_name
	title=title

block header
	header.caption
		h1 Presentation Title</h1>
		p
			a(href="") Yours Truly
			| , Famous Inc.

block main_content
	section.slide


