section.slide.skew-header
	h2.shout Перекос

section.slide
	.skew-text-baner
		.skew-text-baner_line
			span.skew-text-baner_line-text Some text with
		.skew-text-baner_line
			span.skew-text-baner_line-text transform: skew(),
		.skew-text-baner_line
			span.skew-text-baner_line-text instead image
		.skew-text-baner_line
			span.skew-text-baner_line-text it's cool!


section.slide.centr-align
	.skew-arrow.skew-arrow_left left
	.skew-arrow.skew-arrow_right right
	.skew-arrow.skew-arrow_up up
	.skew-arrow.skew-arrow_down down


section.slide.white
	iframe.cover-frame(<iframe height='640' scrolling='no' src='https://codepen.io/hexagoncircle/embed/yOwvQV/?height=640&theme-id=light&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
		
section.slide.white
	iframe.cover-frame(height='640' scrolling='no' src='https://codepen.io/alukard/embed/ZpGojv/?height=640&theme-id=light&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/alukard/pen/ZpGojv/')

section.slide
	h2 transform: skew(angle)
	p Задает скос элемента относительно осей X и Y, и точки задаваемой свойством 
		mark transform-origin
		| .
	pre
		code .element {
			| 	transform: skew(30deg [, 30deg ]?);
			| }


section.slide.centr-code
	pre
		code .element {
			| 	transform: skewX(30deg);
			| }

section.slide.centr-example
	.demo-mesh
		.demo-mesh_base-block
		.demo-mesh_transform-block.skew-demo_skew-x skewX(30deg)

section.slide.centr-code
	pre
		code .element {
			| 	transform: skewY(30deg);
			| }

section.slide.centr-example

	.demo-mesh
		.demo-mesh_base-block
		.demo-mesh_transform-block.skew-demo_skew-y skewY(30deg)

