section.slide
	h2.shout Наклоны
section.slide
	h2 transform: skew()
	p Задает скос элемента относительно осей X и Y, и точки задаваемой свойством transform-origin.
	pre
		code transform: skew(angle: deg | rad | grad | turn);
		code transform: skew(angle [, angle ]?);
		code transform: skewX(angleX: deg | rad | grad | turn);
		code transform: skewY(angleY: deg | rad | grad | turn);

section.slide