section.slide
	h2.shout Наклоны
section.slide
	h2 transform: skew()
	p Задает скос элемента относительно осей X и Y, и точки задаваемой свойством transform-origin.
	pre
		code transform: skew(angle: deg | rad | grad | turn);
		code transform: skew(angle [, angle ]?);
		code transform: skewX(angleX: deg | rad | grad | turn);
		code transform: skewY(angleY: deg | rad | grad | turn);

section.slide
	.demo-line
		pre
			code .element {
			code 	transform: skewX(30deg);
			code }
		.demo-example
			.skew-demo
				.skew-demo_base-block
				.skew-demo_skew-block.skew-demo_skew-x skewX(30deg)
	.demo-line
			pre
				code .element {
				code 	transform: skewY(30deg);
				code }
			.demo-example
				.skew-demo
					.skew-demo_base-block
					.skew-demo_skew-block.skew-demo_skew-y skewY(30deg)

section.slide
	//- .skew-half
	.skew-text-baner
		.skew-text-baner_line
			span.skew-text-baner_line-text Some text with
		.skew-text-baner_line
			span.skew-text-baner_line-text transform: skew(),
		.skew-text-baner_line
			span.skew-text-baner_line-text instead image
		.skew-text-baner_line
			span.skew-text-baner_line-text it's cool!
	//- .skew-half
section.slide
	.skew-arrow.skew-arrow_left left
	.skew-arrow.skew-arrow_right right
	.skew-arrow.skew-arrow_up up
	.skew-arrow.skew-arrow_down down
		//- .skew-text-baner
		//- 	.skew-text-baner_line
		//- 		span.skew-text-baner_line-text Some text with
		//- 	.skew-text-baner_line
		//- 		span.skew-text-baner_line-text transform: skew(),
		//- 	.skew-text-baner_line
		//- 		span.skew-text-baner_line-text instead image
		//- 	.skew-text-baner_line
		//- 		span.skew-text-baner_line-text it's cool!