section.slide
	h2.shout Наклоны
section.slide
	h2 transform: skew()
	p Задает скос элемента относительно осей X и Y, и точки задаваемой свойством transform-origin.
	pre
		code transform: skew(angle: deg | rad | grad | turn);
		code transform: skew(angle [, angle ]?);
		code transform: skewX(angleX: deg | rad | grad | turn);
		code transform: skewY(angleY: deg | rad | grad | turn);

section.slide
	.demo-line
		pre
			code .element {
			code 	transform: skewX(30deg);
			code }
		.demo-example
			.skew-demo
				.skew-demo_base-block
				.skew-demo_skew-block.skew-demo_skew-x skewX(30deg)
	.demo-line
			pre
				code .element {
				code 	transform: skewY(30deg);
				code }
			.demo-example
				.skew-demo
					.skew-demo_base-block
					.skew-demo_skew-block.skew-demo_skew-y skewY(30deg)

section.slide
	h2 Примеры
	.demo-line
	.skew-text-baner
		.skew-text-baner_line
			span.skew-text-baner_line-text Только спокойно
		.skew-text-baner_line
			span.skew-text-baner_line-text это не картинка,
		.skew-text-baner_line
			span.skew-text-baner_line-text это текст с
		.skew-text-baner_line
			span.skew-text-baner_line-text transform: skew()