.scale-demo
	&_scale-x
		transform: scaleX(1.5)
		animation: scale-x 2s linear infinite alternate
	&_scale-y
		transform: scaleY(1.5)
		animation: scale-y 2s linear infinite alternate
	&_scale-3d,
	&_scale-z
		border: 2px blue solid
		position: relative
		height: 200px
		width: 250px
		&-block
			position: absolute
			top: 0
			bottom: 0
			right: 0
			left: 0
			margin: auto
			height: 200px
			width: 230px
			border: 2px red solid
			transform: scale3d(1, 1, 2) rotateX(50deg)
	&_scale-3d-block
		animation: scale-3d 2s linear infinite alternate
	&_scale-z-block
		animation: scale-z 2s linear infinite alternate


@keyframes scale-x
	from
		transform: scaleX(1)
	to
		transform: scaleX(1.5)

@keyframes scale-y
	from
		transform: scaleY(1)
	to
		transform: scaleY(1.5)

@keyframes scale-3d
	from
		transform: scale3d(1, 1, 1) rotateX(50deg)
	to
		transform: scale3d(1, 1, 2) rotateX(50deg)

@keyframes scale-z
	from
		transform: scaleZ(1) rotateX(50deg)
	to
		transform: scaleZ(2) rotateX(50deg)