// .intro-header
// 	+custom-header("css_5dx.jpg")

.ie-end-header
	+custom-header("2106-1_Death-of-IE.jpg")

.logo-img
	max-height: 30%
	// max-width: 50%
	display: block
	margin: 0 auto
	&+&
		margin-top: 3%

.astound_clients
	background-color: #343e47

.conf-title
	background-image: url("../img/title-eng.jpg")
	background-repeat: no-repeat
	background-position: 50% 50%
	background-size: 1070px 640px