section.slide
	h2 CSS 5DX
section.slide.cover
	h2 Оскар в веб разработке
section.slide.ie-end-header
	h2.shout 12. 01. 2016
section.slide.link-slide
	h2.link-slide_header.half End of IE support


	+insert-image("old-ie dead.svg","old-ie dead", "half")
	p
		a(href="https://www.microsoft.com/ru-ru/WindowsForBusiness/End-of-IE-support" target="blank").link-slide_link http://goo.gl/7JEoBh