section.slide.white.conf-title
	//- +insert-image("title-eng.jpg", "title-eng")

section.slide.astound_clients
	+insert-image("astound_clients.jpg", "astound_clients", "cover")


section.slide.black.intro-header
	h2.hide CSS 5DX
	+insert-image("css_5dx.jpg", "css_5dx", "cover")

//- section.slide.cover
//- 	h2 Оскар в веб разработке

section.slide
	+insert-image("awwwards.jpg", "awwwards.jpg", "logo-img")
	+insert-image("css-design-awards.png", "css-design-awards.png", "logo-img")
	+insert-image("fwa.png", "fwa.png", "logo-img")


section.slide
	+insert-image("oskar-and-dicaprio.jpg", "oskar-and-dicaprio.jpg", "cover")

section.slide.ie-end-header
	h2.shout 12. 01. 2016

section.slide.link-slide
	h2.link-slide_header.half End of old IE support


	+insert-image("old-ie dead.svg", "old-ie dead", "half")
	p
		a(href="https://www.microsoft.com/ru-ru/WindowsForBusiness/End-of-IE-support" target="blank").link-slide_link http://goo.gl/7JEoBh