.rotate-demo
	&_rotate-z
		// transform: rotateZ(0)
		.active &
			animation: rotate-z 6s linear infinite
	&_rotate-x
		transform: rotateX(60deg)
		.active &
			animation: rotate-x 2s linear infinite alternate
	&_rotate-y
		transform: rotateY(60deg)
		.active &
			animation: rotate-y 2s linear infinite alternate
	&_rotate-3d
		transform: rotate3d( 1, 2, 3, 30deg )
		.active &
			animation: rotate-3d 4s linear infinite

.rotate-header
	+custom-header("doctor-strange-new-york-city.jpg")
	// +custom-header("doctor-strange-rotate.jpg")


@keyframes rotate-z
	from
		transform: rotateZ(0)
	to
		transform: rotateZ(360deg)

@keyframes rotate-x
	from
		transform: rotateX(0)
	to
		transform: rotateX(60deg)

@keyframes rotate-y
	from
		transform: rotateY(0)
	to
		transform: rotateY(60deg)


@keyframes rotate-3d
	from
		transform: rotate3d( 1, 1, 1, 0 )
	to
		transform: rotate3d( 1, 1, 1, 360deg )

.rotete3d_code
	// position: relative
	&-value
		font-size: 30px
		color: #4d4d4c
		position: absolute
		height: 30px
		line-height: 30px
		top: 390px
		transform-origin: 50% 100%
		&:before
			content: ''
			position: absolute
			bottom: 100%
			left: 50%
			width: 30%
			margin-left: -15px
			height: 50px
			background: url("../img/arrow.png") 50% 50% no-repeat
			background-size: contain
		b
			font-weight: normal
			color: #c82829
		&.rv1
			left: 514px
			&:before
				left: 85%
				transform: rotate(24deg)
		&.rv2
			left: 614px
		&.rv3
			left: 714px
			&:before
				left: 15%
				transform: rotate(-24deg)