section.slide
	h2.shout Повороты
section.slide
	h2 transform: rotate
	p Задает поворот элемента относительно осей X и Y, и точки задаваемой свойством 
		mark transform-origin
		| .
	pre
		code transform: rotate( angle)
		code transform: rotateX( angle)
		code transform: rotateY( angle)
		code transform: rotateZ( angle)
		code transform: rotate3d( number, number, number, angle)

section.slide
