section.slide
	h2.shout Повороты

section.slide.white
	a(href="https://www.amazon.com/gp/product/147782202X/ref=s9_acsd_al_bw_c_x_3?pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-7&pf_rd_r=TMC6M4SA9EXCZKV0W90A&pf_rd_t=101&pf_rd_p=2548614302&pf_rd_i=283155" target="blank")
		+insert-image('amazon-book.jpg', "socruta", "cover")

section.slide.white
	iframe.cover-frame(height='640' scrolling='no' src='https://codepen.io/rgg/embed/QbRyOq/?height=640&theme-id=light&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')

section.slide.white
	a(href="http://rdcm.com/" target="blank")
		+insert-image('rdcm.jpg', "rdcm", "cover")


section.slide
	h2 transform: rotate( angle );
	p Задает поворот элемента относительно осей X, Y, Z и точки задаваемой свойством 
		mark transform-origin
		| .
	pre
		code .element {
			| 	transform: rotateZ( 30deg );
			| }

section.slide.centr-example
	.demo-3d.preserve-3d
		.demo-3d_inner.rotate-demo_rotate-z rotateZ( 360deg )
			br
			| rotate( 360deg )

section.slide.centr-code
	pre
		code .element {
			| 	transform: rotateX( 60deg );
			| }

section.slide.centr-example
	.demo-3d.preserve-3d
		.demo-3d_inner.rotate-demo_rotate-x rotateX( 60deg )

section.slide.centr-code
	pre
		code .element {
			| 	transform: rotateY( 30deg );
			| }


section.slide.centr-example
	.demo-3d.preserve-3d
		.demo-3d_inner.rotate-demo_rotate-y rotateY( 30deg )


section.slide.centr-code
	pre
		code .element {
			| 	transform: rotate3d( 1, 1, 1, 30deg );
			| }


section.slide.centr-example
	.demo-3d.preserve-3d
		.demo-3d_inner.rotate-demo_rotate-3d rotate3d( 1, 1, 1, 360deg )