
body
	font-family: Arial, sans-serif
	font-size: 16px
	line-height: 1.25
	min-width: 320px
	min-height: 320px

=custom-header($img)
	background: url("../img/" + $img) 50% 50% no-repeat
	background-size: cover
	.shout:after
		display: none
	h2
		text-shadow: 3px 4px 10px #000

.cover-frame
	left: 0
	top: 0
	right: 0
	bottom: 0
	// margin: auto
	position: absolute

.demo
	&-example
		float: right
	&-line
		overflow: hidden
		& + &
			margin-top: 25px
		pre
			float: left
