
body
	font-family: Arial, sans-serif
	font-size: 16px
	line-height: 1.25
	min-width: 320px
	min-height: 320px

.centr-align
	text-align: center


.slide
	padding: 50px 40px 0 50px
	h2
		font-size: 65px
		font-weight: 900
		margin-bottom: 40px
	pre
		margin-top: 25px
		display: inline-block
		vertical-align: middle
		margin-bottom: .5em
		text-align: left
		code
			font-size: 30px
			line-height: 1.6
			margin-left: -95px
	p
		font-size: 32px
		line-height: 1.7

.centr-code
	text-align: center
	line-height: 625px
	padding-top: 0
	pre
		margin: 0
	code
		font-size: 36px !important

=custom-header($img)
	background: url("../img/" + $img) 50% 50% no-repeat
	background-size: cover
	.shout
		&:after
			display: none
	h2
		font-size: 140px !important
		text-shadow: 3px 4px 10px #000

.cover-frame
	left: 0
	top: 0
	right: 0
	bottom: 0
	// margin: auto
	width: 100%
	height: 100%
	position: absolute

.demo
	&-example
		float: right
	&-line
		overflow: hidden
		& + &
			margin-top: 25px
		pre
			float: left

.overflow-visible
	overflow: visible

.demo-mesh
	display: inline-block
	position: relative
	width: 300px
	height: 200px
	background-color: #fff
	background-image: linear-gradient($nobel 1px, transparent 1px), linear-gradient(90deg, $nobel 1px, transparent 1px)
	background-size: 41px 41px
	background-position: 150px 99px
	line-height: 1
	&:before,
	&:after
		content: ""
		position: absolute
	&:before
		border-left: 1px solid #000
		height: 100%
		left: 50%
		top: 0
	&:after
		border-top: 1px solid #000
		width: 100%
		top: 50%
		left: 0
	&_base-block,
	&_transform-block
		position: absolute
		left: 50%
		top: 50%
		margin: -50px 0 0 -75px
		width: 166px
		height: 100px
		font-size: 19px
		line-height: 100px
	&_base-block
		background: #eaeaed
		border: 2px solid blue
		opacity: .7
	&_transform-block
		border: 2px solid red
		z-index: 2

.centr-example
	text-align: center
	.demo-mesh
		width: 800px
		height: 500px
		background-size: 83px 76px
		&_base-block,
		&_transform-block
			width: 498px
			height: 304px
			margin: -152px 0 0 -249px
			border-width: 4px
			font-size: 2.5em
			line-height: 304px



.preserve-3d
	transform-style: preserve-3d
	perspective: 600px

.half
	display: inline-block
	vertical-align: middle
	text-align: left
	width: 50%
	padding: 15px
	box-sizing: border-box

.link-slide
	padding: 0
	text-align: center
	font-size: 60px
	&_header
		font-size: 73px !important
		line-height: 1.3 !important
		font-weight: 700 !important
	&_link
		font-size: 70px !important
		background: none !important
		&:hover
			text-decoration: underline


.slide::after
	left: 20px !important
	bottom: 20px !important
	font-size: 16px
	line-height: 1
