section.slide.link-slide
	.half.contacts
		p.name Александр Павлыщ
		p.twitter @lokdawn80
		p.email lokdawn80@gmail.com
		p.skype skype: oleksandr.pavlishch

	+insert-image("jsfwdays_css5dx.svg","jsfwdays_css5dx", "half")

	p
		a(href="https://github.com/OleksandrPavlyshch/jsfwdays_css5dx" target="blank").link-slide_link https://goo.gl/BwlXI7
