section.slide.transform-origin-header
	h2.shout Точка трансформации
section.slide
	h2 transform-origin: x, y [,z]?
	p Устанавливает координаты точки, относительно которой будет происходить трансформация элемента.
	//- | По умолчанию это центр элемента.
	pre
		code .element{
			| 	transform-origin: 50% 50% 0;
			| }
section.slide


	.demo-line
		pre
			code .element{
				| 	transform-origin: 50% 4px
				| }
		.demo-example
			.transform-origin_demo
				+insert-image('bell.png', 'bell', "transform-origin_demo-bell")
	.demo-line
		pre
			code .element{
				| 	transform-origin: left center
				| }
		.demo-example
			.transform-origin_demo
				+insert-image('bell.png', 'bell', "transform-origin_demo-bell transform-origin_demo-bell-custom-origin")
