section.slide
	h2.shout Точка трансформации
section.slide
	h2 transform-origin:
	p Устанавливает исходную точку преобразования элемента.
	//- | По умолчанию это центр элемента.
	pre
		code .element{
		code 	transform-origin: 50% 4px 0
		code 	transform-origin: x, y: length | percentage [,z]?
		code }
section.slide


	.demo-line
		pre
			code .element{
			code 	transform-origin: 50% 4px
			code }
		.demo-example
			.transform-origin_demo
				+insert-image('bell.png', 'bell', "transform-origin_demo-bell")
	.demo-line
		pre
			code .element{
			code 	transform-origin: left center
			code }
		.demo-example
			.transform-origin_demo
				+insert-image('bell.png', 'bell', "transform-origin_demo-bell transform-origin_demo-bell-custom-origin")
