section.slide.perspective_origin-header
	h2.shout Точка обзора
section.slide
	h2 perspective-origin:
	p Устанавливает точку с которой зритель смотрит на сцену по осям x и y.
	pre
		code .wrapper {
		code 	perspective-origin: [ key-word | % | length ]
		code }
section.slide.cover.white
	iframe.cover-frame(height='620' scrolling='no' src='//codepen.io/askd/embed/oxKzKv/?height=620&theme-id=light&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
