section.slide
	h2.shout Предупреди браузер
section.slide
	h2 will-change:
	p Свойсто
		mark will-change
		| позволяет заранее проинформировать браузер об изменениях, которые возможно будут применены к элементу.
		| И применить к нему апаратное ускорение
	pre
		code .element {
		code 	will-change: auto | prop [, prop]?
		code }

section.slide.white.link-slide
	h2.link-slide_header.half W3C 
		br
		| will-change:

	+insert-image("will-change-w3c.svg","will-change-w3c", "half")
	p
		a(href="https://www.w3.org/TR/css-will-change-1" target="blank").link-slide_link http://goo.gl/thD511
section.slide.white.link-slide
	h2.link-slide_header.half Статья от Sara Soueidan

	+insert-image("will-change-sara-soueidan.svg","will-change-sara-soueidan", "half")
	p
		a(href="http://goo.gl/4cOMMp" target="blank").link-slide_link http://goo.gl/4cOMMp