section.slide
	h2.shout Предупреди браузер
section.slide
	h2 will-change:
	p Свойсто
		mark will-change
		| позволяет заранее проинформировать браузер об изменениях, которые возможно будут применены к элементу.
		| И применить к нему апаратное ускорение
	pre
		code .element {
		code 	will-change: auto | prop [, prop]?
		code }

section.slide
	h2 W3C
	h2
		a(href="https://www.w3.org/TR/css-will-change-1" target="blank") www.w3.org/TR/css-will-change-1
		+insert-image("will-change-w3c.svg","will-change-w3c", "place r b")
section.slide
	h2 Статья от Sara Soueidan
	h2
		a(href="http://goo.gl/4cOMMp" target="blank") http://goo.gl/4cOMMp
		+insert-image("will-change-sara-soueidan.svg","will-change-sara-soueidan", "place r b")