section.slide
	h2.shout Предупреди браузер
section.slide
	h2 will-change:
	p Свойсто
		mark will-change
		| позволяет заранее проинформировать браузер об изменениях, которые возможно будут применены к элементу.
		| И применить к нему апаратное ускорение
	pre
		code .element {
		code 	will-change: auto | prop [, prop]?
		code }

section.slide
	h3 W3C
	a(href="https://www.w3.org/TR/css-will-change-1/" target="blank") https://www.w3.org/TR/css-will-change-1/
	br
	h3 Статья от Sara Soueidan
	a(href="https://dev.opera.com/articles/ru/css-will-change-property/" target="blank") https://dev.opera.com/articles/ru/css-will-change-property/